﻿@{
    ViewBag.Title = "About Me";
    ViewBag.Message = "Everything you need to know";
}

@Styles.Render("~/Content/css/about.css")

<h1 style="display:none;">About Luke Warren Developer Sandton, South Africa</h1>
<h2 style="display:none;">Description</h2>

<div class="buyLine">
    <h1>
        <strong>@ViewBag.Title.</strong>
        <br />
        @ViewBag.Message
    </h1>
</div>

<div id="about-content">
    <div class="image">
        <img src="~/Content/img/profile_photo_circle_tiny.png" alt="Alternate Text" />
    </div>
    <div class="title">
        <h2>
            Luke Warren  - Software Developer
        </h2>
    </div>
    <div class="text">
        <h4>
            Simply Put
        </h4>
        <p>
            I love to create great looking functional applications. This is usually in the web space but I have been known to dabble in mobile applications using Xamarin
        </p>
        <h4>
            The Professional Description
        </h4>
        <p>
            The long version is that I specialize in designing, architecting and implementing bespoke solutions for clients large and small. I work concurrently on my own projects as well as large scale source controlled team projects.
        </p>
        <h4>
            Prefered Dev Stacks
        </h4>
        <p>
            My preference is working in the C#.NET space and tend to build on top of the popular DotNetNuke and Umbraco CMS platforms. That being said, I do a bit of PHP dev when I have to.
        </p>
    </div>
</div>