﻿@model Mvc.LukeWarrenDev.Models.HomeViewModel

@{
    ViewBag.Title = "Luke Warren Dev";
}

@Styles.Render("~/Content/css/owl.carousel.css",
                "~/Content/css/owl.theme.css",
                "~/Content/css/home.css",
                "~/Content/css/card.css")

<div class="buyLine">
    <h1>
        <strong>Hello, world!</strong>
        <br />
        I am Luke and I love to <span class="liveHtml"></span>
    </h1>
</div>

<section class="content-block">

    <h2>
        Latest Projects
    </h2>
    <h3>
        Some of the cool things I have done recently
    </h3>
    <section class="clearfix">
        <div class="portfolio wrapper">
            @foreach (var item in Model.PortfolioItems.Take(3))
            {
                <div class="card radius shadowDepth1 item">
                    <div class="card__image border-tlr-radius">
                        <img src="@item.Image" alt="image" class="border-tlr-radius">
                    </div>

                    <div class="card__content card__padding">
                        @if (!string.IsNullOrEmpty(item.SeeLiveLink))
                        {
                            <div class="card__share">
                                <a id="share" target="_blank" class="share-toggle share-icon" href="@item.SeeLiveLink"></a>
                            </div>
                        }

                        <article class="card__article">
                            <h2>
                                <a href="@item.SeeLiveLink">
                                    @item.Title
                                </a>
                            </h2>
                            <p>
                                @item.ShortDesc
                            </p>
                        </article>

                        <div class="card__author-content">
                            @foreach (var tech in item.Technologies)
                            {
                                <span>
                                    @tech
                                    @if (tech != item.Technologies.Last())
                                    {
                                        <span>,</span>
                                    }
                                </span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    <h2>
        Things People have said
    </h2>
    <h3>
        What can I say? I'm good.
    </h3>
    <div id="reviews" class="owl-carousel">
        @foreach (var review in Model.Reviews)
        {
            <div class="review">

                <div class="image">
                    <!--Ref: https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/000/29a/1bf/0ebf7b2.jpg -->
                    <img src="@review.ImageUrl" alt="@review.ReviewerName" />
                </div>
                <h3 class="header">
                    "@review.Title"
                </h3>
                <div class="text">
                    <p>
                        <i class="fa fa-quote-left"></i>
                        @review.ReviewText
                        <i class="fa fa-quote-right"></i>
                    </p>
                    <span class="author">
                        @review.ReviewerName
                    </span>
                </div>
            </div>
        }
    </div>
</section>

<!--Ref: https://github.com/mattboldt/typed.js/ -->
@Scripts.Render("~/Scripts/typed.js")
<!--Ref: http://vnjs.net/www/project/freewall/ -->
@Scripts.Render("~/Scripts/freewall.js")
@Scripts.Render("~/Scripts/owl.carousel.min.js")
@Scripts.Render("~/Scripts/portfolio.js")
@Scripts.Render("~/Scripts/home.js")