﻿@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "It's not hard to get hold of me.";
}
@model Mvc.LukeWarrenDev.Models.ContactViewModel
@Styles.Render("~/Content/css/contact.css")

<div class="buyLine">
    <h1>
        <strong>@ViewBag.Title.</strong>
        <br />
        @ViewBag.Message
    </h1>
</div>

<div id="contact-content" class="clearfix">
    @if (!ViewBag.InitialLoad && ViewBag.MessageSuccess)
    {
        <div class="message success">
            <p>
                Enquiry sent! Thank for getting in contact with me, @Model.First
            </p>
        </div>
    }
    else if (!ViewBag.InitialLoad)
    {
        <div class="message fail">
            <p>

                Oops... Unable to send enquiry. Please contact me via social media if urgent.
            </p>
        </div>
    }
    <div>
        <div id="location" class="clearfix">
            <h2>
                Where I am based
            </h2>
            <h3>
                I'm never to far to work on a project
            </h3>
            <address>
                12 Koedoe Rd<br />
                Laezonia, Centurion<br />
                Gauteng<br />
                South Africa<br />
                <strong>Support:</strong>
                <a href="mailto:luke@lukewarrendev.co.za">luke@lukewarrendev.co.za</a>
            </address>

            <!-- Google Map
            <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJXbvgiYd5lR4RxZ5ENLFHUHs&key=AIzaSyDrgxGBfDhqgNWBd40j7ytLrZ76BAp6atY" allowfullscreen></iframe>
            -->
        </div>
        <div class="line"></div>
        <div id="form">
            <h2>
                Enquire
            </h2>
            <h3>
                Don't be shy. Send me a direct enquiry
            </h3>
            @using (Html.BeginForm("Save", "Contact", "POST"))
            {
                <div>
                    @Html.TextBoxFor(c => c.First, new { placeholder = "First Name" })
                    @Html.ValidationMessageFor(c => c.First)
                </div>
                <div>
                    @Html.TextBoxFor(c => c.Last, new { placeholder = "Last Name" })
                    @Html.ValidationMessageFor(c => c.Last)
                </div>

                <div>
                    @Html.TextBoxFor(c => c.Email, new { placeholder = "Email" })
                    @Html.ValidationMessageFor(c => c.Email)
                </div>
                <div>
                    @Html.TextAreaFor(c => c.Message, new { placeholder = "Message..." })
                    @Html.ValidationMessageFor(c => c.Message)
                </div>
                <button>
                    <i class="fa fa-envelope"></i>
                    Send
                </button>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")