﻿#about-content {
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

    #about-content .image {
    }

        #about-content .image img {
            width: 100px;
            margin: 0 auto;
        }

    #about-content .title {
    }

    #about-content .text {
    }

@media only screen and (max-width: 767px) {
    /* phones */
    #about-content {
        width: 100%;
    }
}