﻿#contact-content {
}

    #contact-content #location {
        float: left;
        width: 49.9%;
        height: 430px;
    }

    #contact-content #form {
        float: left;
        width: 49.9%;
        height: 430px;
    }

    #contact-content .line {
        float: left;
        width: 0.2%;
        background-color: #e88300;
        height: 100%;
    }

@media only screen and (max-width: 767px) {
    /* phones */
    #contact-content #location {
        float: left;
        width: 100%;
        height: inherit;
    }

    #contact-content #form {
        float: left;
        width: 100%;
    }

    #contact-content .line {
        display: none;
    }
}