﻿#reviews {
    padding-left: 0;
    padding-right: 0;
}

    #reviews .review {
        /*float: left;
        width: 100%;*/
    }

        #reviews .review .header {
            text-align: center;
            width: 100%;
            display: block;
            padding: 0;
            margin: 0;
        }

        #reviews .review .image {
            width: 100px;
            margin: 0 auto;
        }

            #reviews .review .image img {
                border-radius: 55px;
            }

        #reviews .review .text {
            float: left;
            width: 100%;
            font-size: 15px;
            text-align: center;
        }

            #reviews .review .text .author {
                font-weight: bolder;
                font-size: 13px;
            }

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}

/* Typed.js Styles*/
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}