﻿/* Portfolio Item styles */
.portfolio {
    margin: auto;
}

    .portfolio > .item {
        background-color: #1e1e1e;
        float: left;
        cursor: default;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        /*max-width: 33.33%;*/
    }

        .portfolio > .item :hover {
            background: rgba(0, 122, 204, 0.5);
        }

        .portfolio > .item span {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 0;
            color: white;
            background-color: rgba(0,0,0,0.8);
            line-height: 52px;
            text-decoration: none;
            font-weight: bold;
        }

        .portfolio > .item img {
            /*margin: 0;
            display: block;
            max-width: 100%;*/
            margin: 0 auto;
            display: block;
            width: 320px;
        }

            .portfolio > .item img:hover {
                opacity: 0.5;
                cursor: pointer;
            }

        .portfolio > .item:hover + span {
            background-color: rgba(0,0,0,1);
            text-decoration: line-through;
        }