﻿/* blue (#0a0aeb), orange(#e88300) and green (#1f8a3d) */

/* Blue = #007acc */
/* VS Black = #1e1e1e */
/* VS Gray/White = #dcdcdc */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

body {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Consolas;
    color: #007acc;
    font-size: 20px;
    max-width: 1024px;
    margin: 0 auto;
    /*background-color: #1e1e1e;*/
}

/* Set padding to keep content from hitting the edges */
#body-content {
    padding-left: 15px;
    padding-right: 15px;
}

    #body-content:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        /* Ref: https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=da6cc88731ee46a0c835143d172c98a4 */
        background-image: url(../img/code_image_2048.jpg);
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -1;
        background-size: cover;
        height: 40%;
    }
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100%;
    padding: 5px;
    height: 30px;
    border: 2px solid #007acc;
    border-radius: 8px;
    margin-bottom: 5px;
    outline: none;
    max-width: 500px;
}

textarea {
    height: 60px;
}

    input:focus,
    select:focus,
    textarea:focus {
        border: 3px solid #e88300;
        outline: none;
    }

section {
    margin-top: 40px;
}

button, primaryAction {
    background-color: #e88300;
    padding: 10px;
    padding-left: 20px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    min-width: 100px;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
    cursor: pointer;
}

    button:hover, primaryAction:hover {
        min-width: 102px;
        font-weight: bolder;
        border: 2px solid;
    }

h1 {
    display: inline;
    font-weight: normal;
    font-size: inherit;
}

h2 {
    text-align: center;
    color: #e88300;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 0;
    margin-bottom: 0;
}

h3 {
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    color: #1f8a3d;
    font-size: 14px;
}

h4 {
    color: #1f8a3d;
}

h5 {
}

a {
    color: #007acc;
}

    a:hover {
        color: #e88300;
    }
/*--- Util Styles ---*/

.centered {
    text-align: center;
}

.small {
    font-size: 12px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.two {
    width: 100%;
}

    .two div {
        float: left;
        width: 50%;
    }

* html .clearfix {
    zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}
/* IE7 */

div.buyLine {
    font-size: 42px;
    min-height: 230px;
    /*margin-top: 10px;
    margin-bottom: 20px;*/
    text-align: center;
    /* Ref: https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=da6cc88731ee46a0c835143d172c98a4 */
    /*background-image: url(../img/code_image_2048.jpg);*/
    /*background-size: cover;*/
    color: white;
    line-height: 45px;
    /* Make edge to edge */
    /*margin-left: -25px;
    margin-right: -25px;*/
    padding-top: 100px;
}

    div.buyLine .liveHtml {
        color: #1f8a3d;
        text-decoration: underline;
        font-weight: bolder;
    }

@media only screen and (max-width: 767px) {
    /* phones */
    div.buyLine {
        font-size: 40px;
        min-height: 230px;
        margin-bottom: 20px;
        text-align: center;
        color: white;
        padding-top: 5px;
    }
}
/*--- Header Styles ---*/

#header {
    width: 100%;
}

#logo {
    float: right;
    max-width: 67%;
    margin-top: 5px;
}

    #logo img {
        width: 195px;
    }

#header #menu-toggle {
    float: left;
    margin-left: 20px;
    color: #e88300;
}
/*--- Body Styles ---*/

/*--- Mobile Nav Styles ---*/
#mobile-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #e88300;
    color: white;
}

    #mobile-nav #mobile-nav-links {
        left: 10%;
        top: 5%;
        width: 80%;
        height: 80%;
        position: fixed;
        z-index: 11;
    }

        #mobile-nav #mobile-nav-links #close-menu {
            text-decoration: none;
            color: white;
        }

        #mobile-nav #mobile-nav-links ul {
            padding-left: 0;
        }

            #mobile-nav #mobile-nav-links ul li {
                list-style: none;
                margin-left: 0;
                text-align: center;
                padding-top: 30px;
            }

            #mobile-nav #mobile-nav-links ul a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 35px;
                font-weight: bolder;
            }

                #mobile-nav #mobile-nav-links ul a:hover {
                    color: white;
                    text-decoration: line-through;
                    text-transform: uppercase;
                    font-size: 38px;
                }

    #mobile-nav > footer {
        position: absolute;
        bottom: 10%;
        width: 100%;
    }
/*--- Desktop Nav Styles ---*/

#header ul#desktop-links {
    display: inline;
    line-height: 40px;
    padding-left: 10px;
    font-size: 25px;
}

    #header ul#desktop-links li {
        list-style: none;
        display: inline;
        text-align: center;
    }

    #header ul#desktop-links a {
        color: #e88300;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bolder;
    }

        #header ul#desktop-links a:hover {
            color: #e88300;
            text-decoration: line-through;
            text-transform: uppercase;
            font-size: 26px;
        }

/*--- Footer Styles ---*/

#footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 12px;
}

    #footer #social-icon {
        color: #007acc;
    }

    #footer #built-mark {
        max-width: 260px;
        margin: 0 auto;
    }

    #footer #social-icon > a {
        text-decoration: none;
        font-size: 30px;
    }

        #footer #social-icon > a:visited {
            color: #007acc;
        }

        #footer #social-icon > a:hover {
            color: #e88300;
        }

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    #menu-toggle {
        display: none;
    }

    .content-block {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    #header ul#desktop-links {
        display: none;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    #header ul#desktop-links {
        display: none;
    }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
    #body-content:after {
        height: 52%;
    }
}