﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Luke Warren Dev</title>

    <!-- Fav Icon Ref: http://www.favicon-generator.org/ -->
    <link rel="icon" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Twitter Info -->
    <meta name="twitter:card" content="Luke Warren Dev - Personal Portfolio Website">
    <meta name="twitter:url" content="http://lukejkw.bitbucket.org">
    <meta name="twitter:title" content="Luke Warren Dev Portfolio website">
    <meta name="twitter:description" content="A simple personal website for Luke Warren">
    <meta name="twitter:image" content="http://lukejkw.bitbucket.org/img/profile_photo_circle.png">

    <!-- SEO -->
    <meta name="description" content="Loogle - Luke Warren Development parody site">
    <meta name="keywords" content="Luke Warren,LukeWarrenDev,PHP,C Sharp,C#,Developer,ASP.NET,DNN,South Africa,Johannesburg,Developer Sandton">
    <link rel="author" href="https://za.linkedin.com/in/luke-warren-63890196" />
    <link rel="canonical" href="http://lukewarrendev.co.za" />
    <!-- Structured Schema -->
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Person",
        "address": {
        "@@type": "PostalAddress",
        "addressLocality": "Johannesburg",
        "addressRegion": "Gauteng"
        },
        "email": "mailto:luke@lukewarrendev.co.za",
        "image": "img/profile_photo_circle.png",
        "jobTitle": "Software Developer",
        "name": "Luke Warren",
        "alumniOf": "RMIT University",
        "birthPlace": "Johannesburg, South Africa",
        "birthDate": "1992.10.04",
        "gender": "male",
        "nationality": "South African/Australian",
        "telephone": "(123) 456-6789",
        "url": "http://lukewarrendev.co.za",
        "sameAs" : [ "https://github.com/Lukejkw", "https://bitbucket.org/lukejkw", "https://za.linkedin.com/in/lukewarrendev", "https://twitter.com/lukejkwarren", https://lukejkw.wordpress.com/ ]
        }
    </script>

    <!-- Styles and Critical JS-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="body-content">
        <nav id="header" class="clearfix">
            <a id="menu-toggle" href="#">
                <i id="bars" class="fa fa-2x fa-bars" aria-hidden="true"></i>
            </a>

            <ul id="desktop-links">
                <li>
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "link" })
                </li>
                <li>
                    @Html.ActionLink("Portfolio", "Index", "Portfolio", null, new { @class = "link" })
                </li>
                <li>
                    @Html.ActionLink("About", "Index", "About", null, new { @class = "link" })
                </li>

                <li>
                    @Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "link" })
                </li>
            </ul>

            <!-- Logo -->
            <a id="logo" href="@Url.Action("Index", "Home", null)">
                <img src="~/Content/img/lwd-logo_light.png" alt="LukeWarrenDev logo" />
            </a>
        </nav>

        <!-- Main body content -->

        @RenderBody()
        <hr />
        <footer id="footer">
            Social & Otherwise
            <p id="social-icon">
                <a href="https://github.com/lukejkw" title="Luke Warren Github">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://bitbucket.org/lukejkw" title="Luke Warren Bitbucket">
                    <i class="fa fa-bitbucket"></i>
                </a>
                <a href="mailto:luke@lukewarrendev.co.za" title="Luke Warren Email">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="https://lukejkw.wordpress.com/" title="Luke Warren Wordpress blog">
                    <i class="fa fa-wordpress"></i>
                </a>
                <a href="https://twitter.com/lukejkwarren" title="Luke Warren Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://za.linkedin.com/in/luke-warren-63890196" title="Luke Warren LinkenIn">
                    <i class="fa fa-linkedin"></i>
                </a>
            </p>
            <p id="built-mark">
                LukeWarrenDev.co.za designed and built by Luke Warren &copy; @DateTime.Now.Year
            </p>
        </footer>
    </div>

    <!-- Mobile Navigation - shown/hidden when menu toggle is clicked -->
    <nav id="mobile-nav" style="display:none;">
        <div id="mobile-nav-links">
            <a id="close-menu" href="#">
                <i class="fa fa-2x fa-close" aria-hidden="true"></i>
            </a>
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "link" })
                </li>
                <li>
                    @Html.ActionLink("Portfolio", "Index", "Portfolio", null, new { @class = "link" })
                </li>
                <li>
                    @Html.ActionLink("About", "Index", "About", null, new { @class = "link" })
                </li>
                <li>
                    @Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "link" })
                </li>
            </ul>
        </div>
        <footer>
            <p class="small centered">
                Luke Warren Dev &copy; @DateTime.Now.Year
            </p>
        </footer>
    </nav>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/skin")
    @RenderSection("scripts", required: false)
</body>
</html>