﻿@model Mvc.LukeWarrenDev.Models.HomeViewModel

@{
    ViewBag.Title = "Portfolio";
    ViewBag.Message = "Some of the many things I have worked on";
}
@Styles.Render("~/Content/css/card.css")

<div class="buyLine">
    <h1>
        <strong>@ViewBag.Title</strong>
        <br />
        @ViewBag.Message
    </h1>
</div>
<section class="clearfix">
    <h2>
        My Portfolio
    </h2>
    <h3>
        You could say that I have done a few things over the years
    </h3>
    <div class="portfolio">
        @foreach (var item in Model.PortfolioItems)
            {
            <div class="card radius shadowDepth1 item">
                <div class="card__image border-tlr-radius">
                    <img src="@item.Image" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">
                    @if (!string.IsNullOrEmpty(item.SeeLiveLink))
                    {
                        <div class="card__share">
                            <a id="share" class="share-toggle share-icon" target="_blank" href="@item.SeeLiveLink"></a>
                        </div>
                    }

                    <article class="card__article">
                        <h2>
                            <a href="@item.SeeLiveLink">
                                @item.Title
                            </a>
                        </h2>
                        <p>
                            @item.ShortDesc
                        </p>
                    </article>

                    <div class="card__author-content">
                        @foreach (var tech in item.Technologies)
                        {
                            <span>
                                @tech
                                @if (tech != item.Technologies.Last())
                                {
                                    <span>,</span>
                                }
                            </span>
                        }
                    </div>
                </div>
            </div>
        }
        <!-- Second Repeat -->
        @foreach (var item in Model.PortfolioItems)
            {
            <div class="card radius shadowDepth1 item">
                <div class="card__image border-tlr-radius">
                    <img src="@item.Image" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">
                    <div class="card__share">
                        <a id="share" target="_blank" class="share-toggle share-icon" href="@item.SeeLiveLink"></a>
                    </div>

                    <article class="card__article">
                        <h2>
                            <a href="@item.SeeLiveLink">
                                @item.Title
                            </a>
                        </h2>
                        <p>
                            @item.ShortDesc
                        </p>
                    </article>

                    <div class="card__author-content">
                        @foreach (var tech in item.Technologies)
                        {
                            <span>
                                @tech
                                @if (tech != item.Technologies.Last())
                                {
                                    <span>,</span>
                                }
                            </span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@Scripts.Render("~/Scripts/freewall.js")
@Scripts.Render("~/Scripts/portfolio.js")